<button (click)="addUser()">ADD</button>
<div *ngIf="users.length">
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>CONTACT NO</th>
      <th>DELETE</th>
      <th>MODIFY</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.contactNo }}</td>
      <td><button (click)="deleteUser(user.id)">DELETE</button></td>
      <td><button (click)="modifyUser(user)">MODIFY</button></td>
    </tr>
  </table>
</div>
<div [hidden]="addHidden" id="add-form-div">
  <p>Add Form</p>
  <form [formGroup]="addUserForm">
    <table>
      <tr>
        <td><label for="name">Name:</label></td>
        <td><input formControlName="name" id="name" /></td>
      </tr>
      <tr>
        <td><label for="email">Email:</label></td>
        <td><input formControlName="email" id="email" /></td>
      </tr>
      <tr>
        <td><label for="contactNo">Contact No:</label></td>
        <td><input id="contactNo" formControlName="contactNo" /></td>
      </tr>
      <tr>
        <td><button type="reset">Clear</button></td>
        <td>
          <button (click)="addUserForm.valid && submitAddUser()">
            ADD USER
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
<div [hidden]="modifyHidden" id="modify-form-div">
  <p>Modify Form</p>
  <form [formGroup]="modifyUserForm">
    <table>
      <tr>
        <td><label for="id">ID:</label></td>
        <td><input formControlName="id" id="id" /></td>
      </tr>
      <tr>
        <td><label for="name">Name:</label></td>
        <td><input formControlName="name" id="name" /></td>
      </tr>
      <tr>
        <td><label for="email">Email:</label></td>
        <td><input formControlName="email" id="email" /></td>
      </tr>
      <tr>
        <td><label for="contactNo">Contact No:</label></td>
        <td><input id="contactNo" formControlName="contactNo" /></td>
      </tr>
      <tr>
        <td><button (click)="modifyCancel()">Cancel</button></td>
        <td>
          <button (click)="modifyUserForm.valid && submitModifications()">
            MODIFY USER
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
