table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 15px;
}

#add-form-div,
#modify-form-div {
  text-align: center;
}

input {
  width: 100%;
}

td label {
  width: fit-content;
}

#add-form-div td,
#modify-form-div td {
  border: none;
}

#add-form-div tr td:first-of-type,
#modify-form-div tr td:first-of-type {
  width: 12ch;
}
